:root{
/* Background Color */
--bg-primary-color: #292626;


/* Text Color */
--text-primary-color: #d6d6d6;

     
 /*  Spacing variavles */
--spacing-xs: 4px;
--spacing-sm: 8px;
--spacing-md: 16px;
--spacing-lg: 24px;
--spacing-xl: 32px;
--spacing-2xl: 48px; 
--spacing-3xl: 64px;


/* Bordor colors */
--border-color: #444040;





}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main,
 section{
    width: 100%;
    height: 100%;
    


}
section{
    padding: var(--spacing-2xl);
}
section .infos{
width: 100%;
display: flex;
justify-content: space-between;


}


.info{
    padding: var(--spacing-sm) var(--spacing-md);

    border: 1px solid var(--border-color);
    border-radius: var(--spacing-sm);
}

